/* Container */
.container {
    padding: 20px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #202124;
}

.flexWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 0 0 250px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.description {
    font-size: 1rem;
    color: #5f6368;
}


.Section {
    flex: 1;
    text-align: center;
    background-color: #f4f6f8;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.Section:hover {
    transform: translateY(-10px);
}

/* Section Heading */
.Section h2 {
    font-size: 1.5rem;
    color: #202124;
    margin-bottom: 10px;
}

/* Section Text */
.Section p {
    font-size: 1rem;
    color: #5f6368;
    margin: 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .SectionWrapper {
        gap: 10px;
    }

    .Section h2 {
        font-size: 1.3rem;
    }

    .Section p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .SectionWrapper {
        flex-direction: column;
        /* Stack sections vertically */
    }

    .Section {
        width: 100%;
    }
}